<%- include("partials/header.ejs") %>

<div class="main-container">
    <h1>Create New Post</h1>

    <div class="new-post-container">
        <form action="/newPost" method="post">
            <p>Post title</p>
            <input type="text" name="postTitle"><br>
            <p>Post content</p>
            <textarea placeholder='Enter the post content...' maxlength='1000' minlength='100' name="postContent" id="postContent" cols="100" required></textarea>
            <input type="submit" value="Submit">
        </form> 
    </div>
</div>

<%- include("partials/footer.ejs") %>