<%- include("partials/header.ejs") %>

<div class="main-container">
    <h1>Create New Post</h1>

    <div class="new-post-container">
        <form action="/submit" method="POST">
            <label for="post">Post Content</label><br>
            <textarea placeholder='Enter the post content...' maxlength='1000' minlength='100' name="post" id="post" cols="100" required></textarea>
            <input type="submit" value="Submit">
        </form> 
    </div>
</div>

<%- include("partials/footer.ejs") %>